h6{
	float: right;
	color: white;	
	display: inline-table;
	padding-right: 10px;
}

h6.author:hover{
	color: #00FF00;
}

h3{
	font-size: 15px;
	font-style: italic;
	color: white;
	line-height: 100%;
	text-indent:6%;
}

.ticket{
	box-shadow: 10px 10px 5px #888888;
	display: inline-table;
	width: 250px;
	padding: 10px;
	border-radius: 25px;
	border-width:0px;
	margin: 10px;
	background-color: #5779B2;
	padding-top: 15px;
	padding-bottom: 0px;
	border-style: solid;
}

body{
	background-color: #FFF4CC;
}