<!doctype html>
<html lang="en" ng-app="eTicketing">
<head>
  <meta charset="utf-8">
  <title>eTicketing</title>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/app.css">
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/eTicketing.js"></script>
</head>
<body>
	<section class="board" ng-controller="boardController as board">
		<div class = "ticket">
		<!-- New Ticket -->
			<form name = "ideaForm" ng-controller="ideaController as ideaCtrl" ng-submit="ideaForm.$valid && ideaCtrl.addIdea(notes)" novalidate>
				<textarea ng-model="ideaCtrl.idea.textBody" required>Idea</textarea>
				<input type="submit" value="Submit" /> 
			</form>
		</div>

		<div  class= "ticket" ng-repeat="note in board.notes">
		<!-- Existing Tickets -->
			<h3>{{note.textBody }}</h3>
			<h6 class = "author">{{" " + note.author}} </h6>
			<h6>{{note.upVotes}} ▲ </h6>
		</div>	
	</section>

</body>
</html>